{% extends 'base.html' %}

{% block title %}
Registro de Usuario -
{% endblock %}

{% block content %}
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">

    <h2>Registro de Usuario</h2>
    <form method="post" class="register-form">
        {% csrf_token %}
        <div class="error-message">
            {{ form.username.errors }}
        </div>
        <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
        {{ form.username }}
        <br>
        <div class="error-message">
            {{ form.email.errors }}
        </div>
        <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
        {{ form.email }}
        <br>
        <div class="error-message">
            {{ form.password1.errors }}
        </div>
        <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
        {{ form.password1 }}
        <br>
        <div class="error-message">
            {{ form.password2.errors }}
        </div>
        <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
        {{ form.password2 }}
        <br>
        <div>
            <input type="submit" value="Registrarse" class="form-button"/>
        </div>
    </form>
{% endblock %}
