body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    height: 100vh;
}

h2{
    margin-top: 100px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Estilos para el menú */
header ul {
    list-style-type: none;
    margin: 0; /* Eliminamos el margen para que esté pegado al borde superior izquierdo */
    padding: 0;
    position: absolute; /* Posicionamos el menú de manera absoluta */
    top: 20px; /* Espacio superior */
    left: 20px; /* Espacio izquierdo */
}

header ul li {
    display: inline;
}

header ul li a {
    color: white; /* Color del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    padding: 10px 20px; /* Espaciado entre elementos del menú */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para el subrayado al pasar el ratón */
header ul li a:hover {
    border-bottom: 2px solid white; /* Subrayado blanco */
}

/* Estilos para el subrayado activo */
header ul li a.active {
    border-bottom: 2px solid white; /* Subrayado blanco */
}

/* Estilos para el título */
header h1 {
    color: white; /* Color del texto */
    margin: 20px; /* Espacio alrededor del título */
    padding: 0; /* Elimina el relleno interior */
    font-weight: bold; /* Texto en negrita */
}
/* Estilos para el botón de cerrar sesión */
#logout-form {
    position: fixed;
    top: 20px;
    right: 20px;
}

#logout-form button {
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#logout-form button:hover {
    border-bottom: 2px solid white;
}
