/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    text-align: center;
}

/* Estilos para el formulario */
form {
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 50px; /* Espacio superior para separar del borde superior */
    background-color: #000;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Agregado: Separación entre el formulario y la lista de libros */
}

button{
    margin-top: 20px;
}

/* Estilo para el campo actors */
#id_actors {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 150px; /* Altura adecuada para mostrar múltiples opciones */
    padding: 5px; /* Añade un pequeño espacio entre el borde y el contenido */
    font-size: 14px; /* Tamaño de fuente adecuado */
    border: 1px solid #ccc; /* Agrega un borde para definir el área del campo */
    border-radius: 4px; /* Agrega bordes redondeados */
    box-sizing: border-box; /* Asegura que el tamaño total del campo incluya el borde y el relleno */
}

/* Estilo para las opciones dentro del campo actors */
#id_actors option {
    padding: 3px; /* Añade espacio interno entre las opciones */
}

/* Estilo para cuando se selecciona una opción */
#id_actors option:checked {
    background-color: #f0f0f0; /* Cambia el color de fondo cuando se selecciona una opción */
}
