.register-form {
    margin: 0 auto;
    margin-top: 25px;
    background-color: #fff;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    margin-top: 130px;
    text-align: center;
}


.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.register-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
}

.register-form input[type="submit"]:hover {
    background-color: #555;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}
