body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    text-align: center;
    margin-top: 20px;
}

form {
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 50px; /* Espacio superior para separar del borde superior */
    background-color: #fff;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Agregado: Separación entre el formulario y la lista de libros */
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
    text-align: left; /* Alineación de los mensajes de error */
}

.error-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error-list li {
    margin-bottom: 5px;
}

