<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}My Films</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'book_list' %}">Inici</a></li>
        <li><a href="{% url 'create_book' %}">Afegir película</a></li>
        {% if user.is_authenticated %}
            <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
          {% csrf_token %}
          <button type="submit">Tancar sessió</button>
        </form>
        {% else %}
            <li><a href="{% url 'login' %}">Iniciar sessió</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>