{% extends 'base.html' %}

{% block title %}
Crear actors
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'create_actors.css' %}">

<<body>
<div class="create-review-container">
    <h2>Afegir actors.</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear</button>
    </form>
    <p>Has afegit tots els actors? <a href="{% url 'create_book' %}">Afegir película</a></p>
</div>
</body>
{% endblock %}