<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'create_review.css' %}">
     <meta charset="UTF-8">
     <title>Crear Película - FILM</title>
</head>
<body>
<a href="{% url 'book_list' %}"><button>Inici</button></a>
<h1>Afegir actors.</h1>
<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear</button>
</form>
<p>Has afegit tots els actors?<a href="{% url 'create_book' %}">Afegir película</a></p>
</body>
</html>