{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail_film.css' %}">
<a href="{% url 'book_list' %}"><button>Inici</button></a>
<h1>{{ book.title }}</h1>
<p>Autor: {{ book.author }}</p>
<p>Génere: {{ book.genre }}</p>
<p>Duració (minuts): {{ book.duration }}</p>
<h2>Actors</h2>
<div id="actor-container">
  {% for actor in book.actors.all %}
    <div class="actor-item">
      <a href="{% url 'actor_detail' pk=actor.pk%}">
      <p>{{ actor.name }} - {{ actor.age }} - {{ actor.country }}</p>
      </a>
    </div>
  {% endfor %}
</div>
<h2>Comentaris</h2>
<div class="button-container">
    <a href="{% url 'review_create' pk=book.pk %}">
        <button>Nou Comentari</button>
    </a>
</div>
{% for review in book.review_set.all %}
    <p> <b>{{review.user.username|capfirst}} </b>: {{ review.content }} <b>{{ review.rating }}/5</b></p>
{% endfor %}
