{% extends "base.html" %}
{% block content %}
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'film_list.css' %}">
    
<div class="container">
  <h2 class="section-title">Llista de Películes</h2>
  <div class="dropdown">
    <button class="dropbtn">Ordenar por <span class="current-order">▼</span></button>
        <div class="dropdown-content">
            <a href="?order=duracion&direction=asc"{% if request.GET.order == 'duracion' and request.GET.direction == 'asc' %} class="selected"{% endif %}>Duración (ascendente)</a>
            <a href="?order=duracion&direction=desc"{% if request.GET.order == 'duracion' and request.GET.direction == 'desc' %} class="selected"{% endif %}>Duración (descendente)</a>
            <a href="?order=alfabetico&direction=asc"{% if request.GET.order == 'alfabetico' and request.GET.direction == 'asc' %} class="selected"{% endif %}>Título (ascendente)</a>
            <a href="?order=alfabetico&direction=desc"{% if request.GET.order == 'alfabetico' and request.GET.direction == 'desc' %} class="selected"{% endif %}>Título (descendente)</a>
        </div>
  </div>
</div>
<div class="film-container">
    {% for film in books %}
        {% for review in review %}
            {% if film.title == review.title %}
                
            {% endif %}
        {% endfor %}
            <div class="film-item">
                <a href="{% url 'book_detail' pk=film.pk %}">
                    <h2>{{ film.title }}</h2>
                </a>
                <div class="film-info">
                    <div><strong>Autor:</strong> {{ film.author }}</div>
                    <div><strong>Gènere:</strong> {{ film.genre }}</div>
                    <div><strong>Duració:</strong> {{ film.duration }} minuts</div>
                </div>
            </div>
    {% endfor %}
</div>

{% endblock %}